@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-dark-blue: hsl(212, 21%, 14%);
  --neutral-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-cream);
  font-family: "Montserrat", sans-serif;
  color: var(--neutral-grayish-blue);
  font-size: 14px;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.card {
  display: flex;
  flex-direction: row;
  width: 600px;
  background: var(--neutral-white);
  border-radius: 10px;
}

img{
    max-width: 100%;
}

.card-img_mob{
  display: none;
}

.card-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
}

.card-content {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--neutral-white);
  width: 50%;
  padding: 30px;
  text-align: left;
}

.card-descr h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.4rem;
}

.card-descr h1 {
  font-family: "Fraunces", serif;
  color: var(--neutral-dark-blue);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 1.5rem 0 2rem 0;
}

.card-descr p {
  font-weight: 500;
  letter-spacing: 0.3px;
}

.price {
  font-family: "Fraunces", serif;
  color: var(--primary-dark-cyan);
  font-size: 2rem;
}

.prev_price {
  font-family: "Montserrat", sans-serif;
  color: var(--neutral-grayish-blue);
  font-size: 14px;
  text-decoration: line-through;
  align-self: center;
  margin-left: 1rem;
}

.btn {
  color: var(--neutral-white);
  background-color: var(--primary-dark-cyan);
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 14px;
}

.btn:hover {
  background-color: hsl(158, 45%, 21%);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media screen and (max-width: 600px){
  .container{
    margin: 50px auto;
  }

  .card{
   flex-direction: column;
   margin: 20px;
   
  }
  .card-img{
    display: none;
  }

  .card-content {
   width: 100%;
   border-bottom-left-radius: 10px;
  }

  .card-img_mob{
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* .attribution{
    padding-bottom: 30px;
  } */
}